{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/cod.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="tick"> 
    <img  src="https://tse1.mm.bing.net/th?id=OIP.Lt2Vn9NghRc_4HrgXECTuwHaG3&pid=Api&P=0&h=180" alt="">
    <h1> YOUR ORDER HAS BEEN SUCCESFULLY PLACED</h1>

</div>
</body>
</html>