{% load static %}
<!DOCTYPE html>

<html>
    <head>
        
        <link rel="stylesheet" href="{% static '/css/investor.css' %}">
    </head>
    <body>
      

        <nav class="navbar">
            <div class="logo">
              <a href="/">ZOMATO</a>
            </div>
            <ul class="nav-links">
              <li><a href="/">Home</a></li>
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'Cuisines' %}">Cuisines</a></li>
              <li><a href="{% url 'signup' %}">signup</a></li>
            </ul>
          </nav>






          <div class="investor-section">
            <h2>Investor Relations</h2>
            <p>Welcome to our investor relations section. Here, you'll find information about our financial performance, stock details, and more.</p>
            <div class="buttons">
              <a href="/investor/presentations">View Presentations</a>
              <a href="/investor/reports">View Reports</a>
            </div>
           
          </div>




          <div class="images">
            <img src="https://img.etimg.com/photo/msid-84678160,quality-100/zomato.jpg">
            
        
        </div>
        
        <div class="image">
          <img src="https://d3jlwjv6gmyigl.cloudfront.net/images/2021/07/Asset-3@2x-100--1-.jpg">
        </div>


        <div class="images1">
          <img src="https://img.etimg.com/photo/msid-82302202,imgsize-126264/WhoownsZomato.jpg">
        </div>
          



        <footer>
          <div class="footer">
            <div class="list">
              <h2>About Zomato</h2>
              <p>Who We Are</p>
              <p>Blog</p>
              <p>Work With Us</p>
              <p>Investor Relations</p>
              <p>Report Fraud</p>
            </div>
        
            <div class="list">
              <h2>Zomaverse</h2>
              <p>Zomato</p>
              <p>Blinkit</p>
              <p>feeding india</p>
              <p>Zomaland</p>
            </div>
        
            <div class="list">
              <h2>Learn More</h2>
              <p>Privacy</p>
              <p>Security</p>
              <p>Terms</p>
              <p>Site Map</p>
              
            </div>
        
            <div class="list">
              <h2>For Restaurants</h2>
              <p>Partner With Us</p>
              <p>Apps for You</p>
             
              <img src="https://beconnected.esafety.gov.au/pluginfile.php/69240/mod_resource/content/1/t26_c5_a1_p3.png">
            </div>
          </div>
        </footer>
        

       
          

          

          

       
          
        
    </body>
</html>

