*{
  margin: 0%;
  padding: 0%;
}
  
  .investor-section {
    background-color: #f5f5f5;
    padding: 40px;
    text-align: center;
  }
  
  .investor-section h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .investor-section p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .buttons {
    margin-bottom: 30px;
  }
  
  .buttons a {
    display: inline-block;
    background-color: #ff8200;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    margin-right: 10px;
    font-family: 'Okra', sans-serif;
  }
  
  .buttons a:hover {
    background-color: #ff9d4d;
  }
  
  .contact-info {
    margin-top: 30px;
  }
  
  .contact-info h3 {
    color: #bc0a0a;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    color: #666;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .navbar {
    background-color: #000000;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 65px;
    
  }
  
  .logo a {
    color: #ffffff;
    font-size: 35px;
    text-decoration: none;
    
  }

  .logo a:hover {
    color: #ff8200;
    
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 19px;
  }
  
  .nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
    font-family: 'Okra', sans-serif;
  }
  
  .nav-links a:hover {
    color: #ff8200;
  }

  .images img {
    width: 73%;
    margin-left: 190px;
    margin-top: 50px;
    margin-bottom: 50px;

  }

.image img {
    width: 50%;
    margin-left: 380px;
    margin-top: 50px;
    margin-bottom: 50px;
  
  }


  .images1 img {
    width: 50%;
    margin-left: 380px;
    margin-top: 50px;
    margin-bottom: 50px;
  
  }

  .footer {
    display: flex;
    justify-content: space-around;
    background-color: #f5f5f5;
    padding: 20px;
    font-family: 'Mukta',sans-serif;
    
    letter-spacing: 1px;
    
  }
  
  .list {
    margin-right: 40px;
  }
  
  .list:last-child {
    margin-right: 0;
  }
  
  .list h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .list p {
    font-size: 14px;
    margin: 14px 0;
    opacity: 0.5;
  }
  
  .footer img {
    width: 140px;
  }
  

 




 
